body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
label{
    color: darkcyan;
    font-size: 30px;
    font-style: initial;
    font-stretch: extra-expanded;
    font-language-override: normal;
}
h1{
    color: ghostwhite;
    font-size: 60px;
    font-style: italic;
}
label{
    color: yellow;
}